django>=4.0,<5.0
psycopg2-binary
django-crispy-forms==2.1
crispy-bootstrap4==2023.1
django-autoslug==1.9.9
django-ckeditor==6.7.0
django-debug-toolbar==4.2.0
Pillow==10.2.0
djangorestframework==3.14.0
celery==5.3.5
redis