{% extends "base.html" %}
{% load static %}
{%load humanize%}

{% block title %}Property | Details{% endblock %}
{% block content %}
  <!-- Start Proerty header  -->

  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Properties Details</h2>
            <ol class="breadcrumb">
            <li><a href="#">HOME</a></li>            
            <li class="active">{{property.title}}</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{message}}
                </div>
              {% endfor %}
            {%endif%}
            {% if property.author == user%}
              <div>
                <a href="{% url 'users:update-property' property.id %}"><button type="button" class="btn btn-secondary">Update</button></a>
                <a href="{% url 'users:delete-property' property.id %}"<button type="button" class="btn btn-danger">Delete</button></a>
              </div>
              <hr>
            {%endif%}
             <div class="aa-properties-details-img">
              <img src="{{property.MainPhoto.url}}" alt="img">
              {% if property.photo_1 %}
                <img src="{{property.photo_1.url}}" alt="img">
              {% endif %}
              {% if property.photo_2 %}
                <img src="{{property.photo_2.url}}" alt="img">
              {% endif %}
              {% if property.photo_3 %}
                <img src="{{property.photo_3.url}}" alt="img">
              {% endif %}
              {% if property.photo_4 %}
                <img src="{{property.photo_4.url}}" alt="img">
              {% endif %}
              {% if property.photo_5 %}
                <img src="{{property.photo_5.url}}" alt="img">
              {% endif %}
              {% if property.photo_6 %}
                <img src="{{property.photo_6.url}}" alt="img">
              {% endif %}
             </div>
             <div class="aa-properties-info">
               <h2>{{property.title}}</h2>
               <h5>Posted at: {{property.pub_date|date:"Y b d"}}</h5>
               <h5>Views: {{property.views}}</h5>
               <span class="aa-price">Price: ${{property.price|intcomma}}</span>
               <h4>Address: {{property.address}}, {{property.city}}, {{property.state}}</h4>
               <p>{{property.description}}</p>
               <h4>Propery Features</h4>
               <ul>
                 <li>Area: {{property.sqft}} SQ FT</sup></var></li>
                 <li>{{property.bedrooms}} Bedroom</li>
                 <li>{{property.bathrooms}} Baths</li>
               </ul>
             </div>
             <!-- Properties social share -->
             <div class="aa-properties-social">
               <ul>
                 <li>Share</li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
               </ul>
             </div>
             <!-- Nearby properties -->
             <div class="aa-nearby-properties">
               <div class="aa-title">
                 <h2>Nearby Properties</h2>
                 <span></span>
               </div>
               <div class="aa-nearby-properties-area">
                 <div class="row">
                  {% for near_p in nearby_properties %}
                   <div class="col-md-6">
                     <article class="aa-properties-item">
                        <a class="aa-properties-item-img" href="#">
                          <img alt="img" src="{{near_p.MainPhoto.url}}">
                        </a>
                        {% if near_p.get_property_status_display == "For Sale" %}
                        <div class="aa-tag for-sale">
                          {{near_p.get_property_status_display}}
                        </div>
                        {% elif near_p.get_property_status_display == "For Rent"%}
                        <div class="aa-tag for-rent">
                          {{near_p.get_property_status_display}}
                        </div>
                        {% else %}
                        <div class="aa-tag sold-out">
                          {{near_p.get_property_status_display}}
                        </div>
                        {% endif %}
                        <div class="aa-properties-item-content">
                          <div class="aa-properties-info">
                            <span>{{near_p.bedrooms}} Beds</span>
                            <span>{{near_p.bathrooms}} Baths</span>
                            <span>{{near_p.sqft}} SQ FT</span>
                            <span>City: {{near_p.city}}</span>
                          </div>
                          <div class="aa-properties-about">
                            <h3><a href="{% url 'property:Properties-Detail' near_p.id %}">{{near_p.title}}</a></h3>
                            <p>{{near_p.description|truncatewords:10}}</p>                      
                          </div>
                          <div class="aa-properties-detial">
                            <span class="aa-price">
                              ${{near_p.price|intcomma}}
                            </span>
                            <a class="aa-secondary-btn" href="{% url 'property:Properties-Detail' near_p.id %}">View Details</a>
                          </div>
                        </div>
                      </article>
                   </div>
                  {% endfor %}
                 </div>
               </div>

             </div>

            </div>           
          </div>
        </div>
        <!-- Start properties sidebar -->
        {% include 'property/sidebar.html' %}
        <!-- End properties sidebar -->
      </div>
    </div>
  </section>
  <!-- / Properties  -->
{% endblock %}