{%load humanize%}
<div class="col-md-4">
    <aside class="aa-properties-sidebar">
    <!-- Start Single properties sidebar -->
    <div class="aa-properties-single-sidebar">
        <h3>Properties Search</h3>
        <form action="{% url 'Search' %}" method='GET' name='search_form'>
        <div class="aa-single-advance-search">
            <input type="text" placeholder="Type Your Location" name="location" value={%if request.GET.location%}
            "{{request.GET.location}}"{%else%}""{%endif%}>
        </div>
        <div class="aa-single-advance-search">
            <select id="" name="category">
            {% if request.GET.category %}
            <option value="{{request.GET.category}}">{{request.GET.category.title}}</option>
            {% endif %}
            <option value="">Category</option>
            {% for cat in categories %}
                {% if not request.GET.category.title == cat.title %}
                <option value="{{cat.slug}}">{{cat.title}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <div class="aa-single-advance-search">
            <select id="" name="look_for">
            {% if request.GET.look_for %}
                {%for key, value in property_choices.items%}
                    {%ifequal request.GET.look_for key%}<option value="{{key}}">{{value}}</option>{%endifequal%}
                {%endfor%}
            {% endif %}
            <option value="">Look For</option>
            {%for key, value in property_choices.items%}
                {%ifnotequal request.GET.look_for key%}<option value="{{key}}">{{value}}</option>{%endifnotequal%}
            {%endfor%}
            </select>
        </div>
        <div class="aa-single-filter-search">
            <span>AREA SQ FT</span>
            <span>FROM</span>
            <span id="skip-value-lower" class="example-val">200.00</span>
            <span>TO</span>
            <span id="skip-value-upper" class="example-val">100.00</span>
            <div id="aa-sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
            </div>                  
        </div>
        <div class="aa-single-filter-search">
            <span>PRICE ($)</span>
            <span>FROM</span>
            <span id="skip-value-lower2" class="example-val">30.00</span>
            <span>TO</span>
            <span id="skip-value-upper2" class="example-val">100.00</span>
            <div id="aa-price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
            </div>      
        </div>
        <div class="aa-single-advance-search">
            <input type="submit" value="Search" class="aa-search-btn">
        </div>
        </form>
    </div> 
    <!-- Start Single properties sidebar -->
    <div class="aa-properties-single-sidebar">
        <h3>Popular Properties</h3>
        {% for pp in popular_properties %}
        <div class="media">
            <div class="media-left">
            <a href="{% url 'Properties-Detail' pp.id %}">
                <img class="media-object" src="{{pp.MainPhoto.url}}" alt="{{pp.title}}">
            </a>
            </div>
            <div class="media-body">
            <h4 class="media-heading"><a href="{% url 'Properties-Detail' pp.id %}">{{pp.title}}</a></h4>
            <p>{{pp.description|truncatewords:10}}</p>                
            <span>${{pp.price|intcomma}}</span>
            </div>              
        </div>
        {% endfor %}
    </div>
    </aside>
</div>