{% extends 'base.html' %}
{% load static %}

{% block title %}Home Property | Blogs{% endblock title %}
{% block content %}

  <!-- Start Proerty header  -->
  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Blog Page</h2>
            <ol class="breadcrumb">
            <li><a href="#">HOME</a></li>            
            <li class="active">Blog</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Blog  -->
  <section id="aa-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-blog-area">
            <div class="row">
              <div class="col-md-8">
                <div class="aa-blog-content">
                  <div class="row">
                  {% for blog in blogs %}
                    <div class="col-md-6 col-sm-6">
                      <article class="aa-blog-single">
                        <figure class="aa-blog-img">
                          <a href="{{blog.get_absolute_url}}"><img alt="img" src="{{blog.image.url}}"></a>
                          <span class="aa-date-tag">{{blog.pub_date|date:"Y b d"}}</span>
                        </figure>
                        <div class="aa-blog-single-content">
                          <h3><a href="{% url 'blog:Blog-Detail' blog.id %}">{{blog.title}}</a></h3>
                          <p>{{blog.content|safe|truncatewords:30}}</p>
                          <div class="aa-blog-single-bottom">
                            <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> {{blog.author}}</a>
                            <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>{{blog.comments.count}}</a>
                          </div>
                        </div>                   
                      </article>
                    </div>
                  {%endfor%}
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="aa-properties-content-bottom">
                        <nav>
                          {%include 'property/pagination.html'%}
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Start blog sidebar -->
              {% include "blog/sidebar.html"%}
              <!-- End blog sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Blog  -->

{% endblock content %}