{%load static%}
<div class="col-md-4">
    <aside class="aa-blog-sidebar">
        <!-- Start single sidebar -->
        <div class="aa-blog-sidebar-single">
            <form action="{% url 'blog:Blog-Search' %}" method="GET">
                <div class="aa-blog-search">
                <input class="aa-search-text" type="text" name="q" placeholder="Search...">
                <button class="aa-search-submit" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                </div>
            </form>
        </div>
        <!-- Start single sidebar -->
        <div class="aa-blog-sidebar-single">
            <h3>Categories</h3>
            <ul class="aa-blog-catg">
            {% for category in categories %}
                <li><a href="{{category.get_absolute_url}}">{{category.title}}</a><span>{{category.num_blogs}}</span></li>
            {% endfor %}
            </ul>
        </div>
        <!-- Start single sidebar -->
        <div class="aa-blog-sidebar-single">
            <h3>Tags</h3>
            <div class="tag-cloud">
            {% for tag in tags %}
                <a href="{{tag.get_absolute_url}}">{{tag.title}}</a>
            {% endfor %}
            </div>                    
        </div>
        <!-- Start single sidebar -->
        <div class="aa-blog-sidebar-single">
            <h3>Recent Post</h3>
            <div class="aa-blog-recent-post">
            {% for post in recent_posts %}
                <div class="media">
                    <div class="media-left">
                        <a href="{{post.get_absolute_url}}">
                            <img alt="img" src="{{post.image.url}}" class="media-object">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h4>
                        <p>{{post.content|truncatewords:10|safe}}</p>                
                        <span>{{post.pub_date|date:"Y b d"}}</span>
                    </div>              
                </div>
            {%endfor%}
            </div>                    
        </div>
        <!-- Start single sidebar -->
        <div class="aa-blog-sidebar-single">
            <div class="aa-banner-ads">
                <a href="#">
                <img src="{%static 'img/banner-ads.jpg'%}" alt="banner img">
                </a>
            </div>                    
        </div>
    </aside>
</div>