{%extends 'login-register-base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{%block title%}Sign in{%endblock title%}
{% block content %}
  <section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{message}}
                  </div>
                {% endfor %}
              {%endif%}
              <div class="aa-signin-form-title">
                <a class="aa-property-home" href="{%url 'property:Home-Page'%}">Property Home</a>
                <h4>Sign in to your account</h4>
              </div>
              <form class="contactform" method="POST">
              {%csrf_token%}                                               
                {{form|crispy}}
                <div class="aa-single-submit">
                  <input type="submit" value="Sign in" class="aa-browse-btn" name="submit">
                  <p>Don't Have A Account Yet? <a href="{%url 'users:register'%}">CREATE NOW!</a></p>
                  <p>Forgot Password? <a href="{%url 'users:password_reset'%}">Reset Password</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock content%}